@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed');

@import './_reset';

body {
  height: 100vh;
  max-height: 100vh;
  background-color: $background-color;
  font-family: 'Roboto Condensed';
  font-size: $font-size;
  line-height: 1.5;
  color: $font-color;
}

h1, h2, h3, h4, h5, h6, a, button {
  font-family: 'Oswald';
}
